<!DOCTYPE html>
<html ng-app="ngSweetAlert">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <link rel="stylesheet" href="style.css">
<!--   <link rel="stylesheet" href="http://rawgit.com/t4t5/sweetalert/master/dist/sweetalert.css"> -->
  <script src="../../resources/js/jquery.min.js"></script>
  <script src="../../resources/js/angular.js"></script>
<!--   <script src="http://rawgit.com/t4t5/sweetalert/master/dist/sweetalert.min.js"></script> -->
<!--   <script src="http://rawgit.com/tushariscoolster/ng-sweet-alert/master/ng-sweet-alert.js"></script> -->
  <script src="../../resources/js/tushariscoolster-ng-sweet-alert/sweetalert.min.js"></script>
  <script src="../../resources/js/tushariscoolster-ng-sweet-alert/ng-sweet-alert.js"></script>
  <script src="../../resources/js/my-alert/my-alert.js"></script>
  <script src="script.js"></script>
</head>

<body ng-controller="MainCtrl">
 
  <button ng-click="cjx()">ffffff</button>
</body>

</html>
 